/* Write your code here. */
.win-or-loss-emoji {
  height: 150px;
  width: 130px;
}
.win-or-loss-box {
  border-color: #ffffff30;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.you-won {
  font-family: 'Roboto';
  color: white;
  font-size: 24px;
}
.best-score {
  font-family: 'Roboto';
  color: white;
  font-weight: 500;
}
.win-or-loss-emoji-score {
  font-family: 'Roboto';
  color: #6a59ff;
  font-size: 24px;
  font-weight: bold;
}
.play-again-btn {
  background-color: #9796f0;
  border-width: 0px;
  height: 22px;
  width: 90px;
  border-radius: 10px;
  color: white;
}
